* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .authorization {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    flex: 1;
    background-color: #f0f0f0;
  }
  
  .left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
  }
  
  .login-form {
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 5px;
  }
  
  h2 {
    margin-bottom: 14px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }

  .back-link {
    display: block;
    margin-top: 20px;
    text-align: right;
    color: #007bff;
    text-decoration: none;
    font-size: 15px;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  