.classHome {
    font-size: 24px; /* Увеличиваем размер шрифта */
    font-weight: bold; /* Делаем текст жирным */
    color: #333; /* Цвет текста  */
    padding: 10px; /* Добавляем отступы для улучшения внешнего вида */
    text-align: center; /* Центрируем текст */
}