.toggle {
    cursor: pointer;
    padding: 7px 0;
    border-radius: 4px;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ccc;
  }
  
  .toggle:last-child {
    border-bottom: none;
  }
  
  input[type="checkbox"] {
    cursor: pointer;
    vertical-align: middle;
    margin: 5px 3px 3px 15px;
    width: 15px;
    right: 0;
  }

  .line {
    display: flex;
    vertical-align: middle;
    text-align: left;
  }
  
  
  