.toggle {
    cursor: pointer;
    padding: 7px 0;
    border-radius: 4px;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ccc;
  }
  
  .toggle:last-child {
    border-bottom: none;
  }
  
  input[type="checkbox"] {
    cursor: pointer;
    vertical-align: middle;
    margin: 5px 3px 3px 15px;
    width: 15px;
    right: 0;
  }

  .classList1 {
    background-color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    align-self: flex-start;
    flex: 1;
    overflow-y: auto;
    margin: 0px 20px 20px 20px;
  }

  .select-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 0px 20px 20px 20px;
  }

  .tabs {
    display: flex; /* Используем flexbox для выравнивания кнопок в строку */
    justify-content: left; /* Равномерно распределяем пространство между кнопками */
    margin: 20px 20px 0 20px; /* Отступ сверху и снизу */
  }
  
  .tabs button {
    padding: 10px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .tabs button:hover {
    background-color: #f9f9f9;
    color: black;
    border: 1px solid rgb(132, 131, 131);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .tabs button.selected {
    background-color: #ece8e8;
    color: black;

    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  