html, body {
    height: 100%;
    margin: 0;
}

.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 150px;
    padding: 20px;
    background-color: #f6f6f6;
    border-right: 1px solid #ccc;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

.sidebar-buttons {
    background-color: #f6f6f6;
    border: none;
    border-radius: 5px;
    padding: 8px 0;
    cursor: pointer;
    font-size: 15px;
    text-align: left;
    color: #323233;
}

button:hover {
    text-decoration: underline;
}

.selected-item {
    background-color: #f6f6f6;
    text-decoration: underline;
}