html, body {
    height: 100%;
    margin: 0;
}

.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 150px;
    padding: 20px 0;
    background-color: #f6f6f6;
    border-right: 1px solid #ccc;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.sidebar-buttons:hover {
    background-color: #e0e0e0;
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

.sidebar-buttons {
    background-color: #f6f6f6;
    border: none;
    border-radius: 0;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 15px;
    text-align: left;
    color: #323233;
    width: 100%;
    box-sizing: border-box;
}


.selected-item {
    background-color: #e0e0e0;
    text-decoration: none;
}