.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3991ef;
    color: white;
    font-size: 15px;
  }
  
  .header-left {
    align-items: center;
    margin-left: 0px;
  }

  .header-right {
    margin-left: auto;
    margin-right: 0px;
  }