.header {
    display: flex;
    justify-content: space-between; /* Распределяет элементы по краям */
    align-items: center; /* Вертикальное выравнивание по центру */
    padding: 10px 20px;
    background-color: #3991ef; /* Цвет фона */
    color: white;
  }
  
  .header-left {
    align-items: center; /* Вертикальное выравнивание логотипа и ссылок */
    margin-left: 0px;
  }

  .header-right {
    margin-left: auto; /* Отталкивает элемент вправо */
    margin-right: 0px;
  }