.header {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    padding: 10px 20px;
    background-color: #3991ef;
    color: white;
    font-size: 15px;
  }
  
  .header-left {
    display: block;
    text-align: left;
    margin-left: 0px;
    gap: 20px 5px;
  }

  .header-left a {
    text-decoration: none;
    color: #fff; 
    font-size: 15px;
  }
  
  .header-left a:hover {
    text-decoration: underline;
  }

  .header-right {
    margin-left: auto;
  }

  button.back-btn { 
    background-color: transparent; 
    color: white; 
    border: none; 
    cursor: pointer; 
    font-size: inherit; 
    left: 0px; 
  }