.navbar {
    display: flex;
    justify-content: space-between; /* Распределяет элементы по краям */
    align-items: center; /* Вертикальное выравнивание по центру */
    padding: 10px 20px;
    background-color: #007bff; /* Цвет фона */
    color: white;
  }
  
  .navbar-left {
    align-items: center; /* Вертикальное выравнивание логотипа и ссылок */
    margin-left: 45px; /* Отступ между логотипом и ссылками */
  }
  
  .navbar-logo h2 {
    margin: 0;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px; /* Промежуток между ссылками */
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff; /* Цвет ссылок */
  }
  
  .navbar-links a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
  }
  
  .navbar-right {
    margin-left: auto; /* Отталкивает элемент вправо */
    margin-right: 10px;
  }
  