.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 15px;
}

.navbar-left {
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
}

.navbar-logo h2 {
  margin: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 9%;
  font-size: 15px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: #fff; 
  font-size: 15px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-right {
  margin-left: auto;
  margin-right: 10px;
}


.logout-button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 15px;
  text-align: left;
}

.logout-button:hover {
  background-color: #007bff;
  text-decoration: underline;
}


